*
{
    margin: 0;
    padding: 0;
}        
header
{
    background-color: rgb(6, 6, 136);
    color: white;
    height: 30vh;
}
li
{
    display: inline-block;
    padding: 1vh;
}
.box1
{
    display: inline-block;
    font-size: 5vw;
    margin-top: 5vh;
    margin-left: 10vw;
}
.box2
{
    display: inline-block;
    float: right;
}
th
{
    width: 150px;
}
.container
{
    display:flex;
    justify-content: end;
    background-color: grey;
    width: 100vw;
    height: 65vh;
}
.box3
{
    width: 50vw;
    text-align: center;
    font-size: 30px;
    padding-top: 20vh;
    max-width: 100%;
    height: auto
}
.box4
{
    width: 50vw;
}
footer
{
    background-color: blue;
    color: white;
    text-align: center;
}
.create
{
    font-size: 6vh;
}
.easy
{
    font-size: 4vh;
}